trigger:
 paths:
   include:
     - terraform-demo/*

pool:
  name: 'devopstest'

variables:
  imageName: devops-demo

steps:

# Install Terraform
- script: |
    sudo apt-get update
    sudo apt-get install -y wget unzip
    wget https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip
    unzip terraform_1.6.6_linux_amd64.zip
    sudo mv terraform /usr/local/bin/
    terraform version
  displayName: 'Install Terraform'

# Install Azure CLI

- script: |
    curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
    az version
  displayName: 'Install Azure CLI'

# Login to Azure using Service Connection
- task: AzureCLI@2
  displayName: 'Azure login'
  inputs:
    azureSubscription: 'Testproject'
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
     az account show

# Run Terraform & Provision Azure Infrastructure
- script: |
    cd terraform-demo
    terraform init
    terraform apply -auto-approve
  displayName: 'Terraform Apply'
  env:
    ARM_CLIENT_ID: $(ARM_CLIENT_ID)
    ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
    ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
    ARM_TENANT_ID: $(ARM_TENANT_ID)