trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: devops-demo

steps:

# Install Terraform
- script: |
    sudo apt-get update
    sudo apt-get install -y wget unzip
    wget https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip
    unzip terraform_1.6.6_linux_amd64.zip
    sudo mv terraform /usr/local/bin/
    terraform version
  displayName: 'Install Terraform'

# Run Terraform
- script: |
    cd Terraform-demo
    terraform init
    terraform apply -auto-approve
  displayName: 'Terraform Apply'

# Provision Azure Infrastructure
- script: |
    cd Terraform-demo
    terraform init
    terraform apply -auto-approve
  displayName: 'Terraform Apply'

# Build & Push Docker Image to ACR (Docker runs in Azure, not your laptop)
- task: Docker@2
  displayName: 'Build and Push Image'
  inputs:
    containerRegistry: 'acrterraformtestdev'
    repository: $(imageName)
    command: buildAndPush
    Dockerfile: app/Dockerfile
    tags: latest

# Deploy to AKS - Deployment
- task: Kubernetes@1
  displayName: 'Deploy App to AKS'
  inputs:
    connectionType: Azure Resource Manager
    azureSubscriptionEndpoint: 'Testproject'
    azureResourceGroup: 'terraform-test'
    kubernetesCluster: 'aks-cluster-terraform'
    command: apply
    useConfigurationFile: true
    configuration: k8s/deployment.yaml

# Deploy Service (Expose to Internet)
- task: Kubernetes@1
  displayName: 'Expose Service'
  inputs:
    connectionType: Azure Resource Manager
    azureSubscriptionEndpoint: 'Testproject'
    azureResourceGroup: 'terraform-test'
    kubernetesCluster: 'aks-cluster-terraform'
    command: apply
    useConfigurationFile: true
    configuration: k8s/service.yaml