trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: devops-demo

steps:

# Install Terraform
- script: |
    sudo apt-get update
    sudo apt-get install -y wget unzip
    wget https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip
    unzip terraform_1.6.6_linux_amd64.zip
    sudo mv terraform /usr/local/bin/
    terraform version
  displayName: 'Install Terraform'

# Run Terraform
- script: |
    cd Terraform-demo
    terraform init
    terraform apply -auto-approve
  displayName: 'Terraform Apply'

# Provision Azure Infrastructure
- script: |
    cd Terraform-demo
    terraform init
    terraform apply -auto-approve
  displayName: 'Terraform Apply'